* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/1330653.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .container h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  .container .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
  }
  
  .remember-forgot label input {
    color: #fff;
    margin-right: 3px;
  }
  
  .remember-forgot a {
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .container .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    box-decoration-break: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0px 15px;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }

  .form-group input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.login-button:hover {
    background-color: #0056b3;
}

.back-to-calendar {
    margin-bottom: 2rem;
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
}

.navigate-to-advanced {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navigate-to-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navigate-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navigate-button:hover {
    background-color: #0056b3;
}

.navigate-to-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}